<form [formGroup]="forma" (ngSubmit)="guardar()">

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-5">
                <p class="font-italic">Producto:</p>
                <select class="form-control" name="producto" id="inputGroupSelect01" formControlName="producto">
        <option selected>Seleccione</option>
        <option *ngFor="let prod of productos" 
                value="{{prod.id}}">{{prod.nombre}}</option>      
                 </select>

                <p class="font-italic"> Colores:</p>
                <select class="form-control" name="color" id="inputGroupSelect01" formControlName="color">
                 <option selected>Seleccione</option>
                <option *ngFor="let color of colors" value="{{color.id}}">{{color.detalle}}</option>      
                </select>

                <input class="form-control" #myInput type="file" placeholder="File Name" name="filename" (change)="onChange($event)">


                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3 col-md-6">
                <img *ngIf="domSanitizer.bypassSecurityTrustUrl(imageToShow)!=undefined" alt="" class="e2e-trusted-url img-thumbnail" style=" width: 460px " [src]="domSanitizer.bypassSecurityTrustUrl(imageToShow)">
            </div>
        </div>
    </div>
</form>